/* command style */

.wrapper1{
    width: 1270px;
    margin: 0% auto;
}
.wrapper2{
    width: 1171px;
    margin: 0% auto;
 
}
.wrapper3{
    width: 1200px;
    margin: 0% auto;
}
.box{
    height: 35px;
}
.color1{
   color: #888888;
   font-size: 13px;

}
.color2{
    color: #333333;
}
.color3{
    color:#888888 ;
}
.color4{
color: #212529; 
}
.color5{
color: red;
}
.color8{
    color: #888888;
    font-size: 18px;
    transition: .8s;
}
.clear{
    clear: both;
}
body{
 font-family: 'Montserrat', sans-serif;
 position: relative;
}

/* social bar */
.featured{
   font-family: 'Poppins', sans-serif;
   font-size: 36px;
   color: #333333;
   text-align: center;
   margin:70px 0px;
}
#social-bar{
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #F5F5F5;
  
  
} 
#up{
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    position: fixed;
    bottom:15px;
    right: 15px;
    z-index: 50;
    background: gray;
    opacity: .5;
}
#up:hover {
transform: scale(1.1)
}

#social-bar div:nth-child(2){
    text-align: center;
    line-height: 35px;

}
#social-bar div:nth-child(3){
    text-align: center;
    line-height: 35px;

}
#fbpadleft{
    padding-left:0px;
}
.socialul1 li{
display: inline-block;
line-height: 35px;
padding-left: 15px;
}
.socialul1 li .color8:hover{
    color:red;
    }



/* header section */

#headers{
    position: sticky;
    top:0;
    z-index: 10;
    width: 100%;
    height: 80px;
    background-color: white;
    border-top-color: white;
    box-shadow: 0px 0px 1px lightgray;

}
.box-nav{
    height: 70px;
}
.navul1 li{
display: inline-block;
padding: 5px;
}
.navul1 li a{  
    font-size: 15px;  
    transition: 2s;
text-decoration:none;  
}
.navul1 li a:hover{
text-decoration: underline;  
}


.line1{
    line-height: 70px;
    text-align: center;
}
.line2{
    line-height: 70px;
}

.box-nav{
    position: relative;
}
.box-nav p{
    position: absolute;
    font-size: 10px;
    color: white;
    width: 6px;
    height: 7px;
    background: black;
    border-radius: 50%;
    padding: 5px 5px;
    margin:0px;
    right: -6px;
    top: 18px;
}
/* slider section */

#slider{
    position: relative;
    width: 100%;
    height: 570px;
    background-image: url("../images/master-slide-04.jpg");
    background-repeat: no-repeat;
	background-attachment:fixed;
}
#slider h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 60px;
    font-weight:700;
;    
}
#slider:hover h1{
    transition: 2s;
    text-shadow: 0px 1px 20px #E65540 ;
}
#slider h2{
    padding-bottom:30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 18px;
}

#slider a{
    position: absolute;
    bottom:25%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    background-color:white;
    padding:15px 30px;
    border-radius: 30px;
    transition: .4s;
}
#slider a:hover{
    color:white;
    background-color:#E55540;
}
/* banner1 section */
#banner1{
    width: 100%;
    height: 958px;

}

.box-banner1{
    background-color:;
    height: 878px;
}

.box-banner1 img{
    width: 100%;
    transition:.5s;

} 
.box-banner1 img:hover{
    transform: scale(1.1);
 
}
.colbir{
    height: 478px;
    width: 370px;
    margin: 0px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}

.columna{
    width: 179px;
    height: 46px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color:#333333;
    background-color: white;
    box-shadow: 0 0 2px grey;
    position:absolute;
    bottom:15px;
    left:90px;
    
}
.columna:hover{
    background-color:#E65540;
    color: white;
    transition:1s;
}
.coliki{
    height: 339px;
    width: 370px;
    margin: 0px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
   
}
.coluc{
    height: 339px;
    width: 370px;
    margin: 0px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
   
}
.coldord{
    height: 478px;
    width: 370px;
    margin: 0px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
   
}
.colbes{
    height: 478px;
    width: 370px;
    margin: 0px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
   
}
.colalti{
    height: 339px;
    width: 370px;
    margin: 0px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
   
}
.customrow{
    widows: 370px;
}
/* new Product section  */
#newProduct{
    width: 100%;
    height: 677px;

}
.overlay{
    opacity:0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.301);  
}

.newc{
    width: 270px;
    height: 431px;
    margin: 15px;
}
.newc .overlay:hover{
    transition:.8s;
    opacity:1;   
}
.newc img{
    width: 100%;
}
.newc11{
    height:360px ;
    width: 270px;
    margin: 0px;
    overflow: hidden;
    position: relative
    
}
.newc11 a{
    width: 179px;
    height: 46px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color:#fff4f4;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px grey;
    position:absolute;
    bottom:-49px;
    left:45px;
    border-radius: 50px;
    
}
.overlay:hover a{
transition: .4s ease-in-out;
    bottom:15px;
}
.newc11 a:hover{
    background-color:#E65540;
    transition:1s; 

}

.newc22{
    height:360px ;
    width: 270px;
    margin: 0px;
    overflow: hidden;
    position: relative

}.newc22 a{
    width: 179px;
    height: 46px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color:#fff4f4;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px grey;
    position:absolute;
    bottom:-49px;
    left:45px;
    border-radius: 50px;
    
}
.newc22 a:hover{
    background-color:#E65540;
    transition:1s;
}

.newc33{
    height:360px ;
    width: 270px;
    margin: 0px;
    overflow: hidden;
    position: relative
}.newc33 a{
    width: 179px;
    height: 46px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color:#fff4f4;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px grey;
    position:absolute;
    bottom:-49px;
    left:45px;
    border-radius: 50px;
    
}
.newc33 a:hover{
    background-color:#E65540;
    transition:1s;
}
.newc44{
    height:360px ;
    width: 270px;
    margin: 0px;
    overflow: hidden;
    position: relative;
}
.newc44 a{
    width: 179px;
    height: 46px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color:#fff4f4;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px grey;
    position:absolute;
    bottom:-49px;
    left:45px;
    border-radius: 50px;
    
}
.newc44 a:hover{
    background-color:#E65540;
    transition:1s;
}
.newc2{
    height: 71px;
    width: 270px;
    color: #333333;
    line-height:30px; 
    margin: 0px;
    margin-top: 20px;
    
}



/* banner2 section */
#banner2{
    background-color: #F2F2F2 !important;
    height: 520px;
    padding-top:71px;
}
.box-banner2{
    margin:15px;
    height:426px;
    width: 570px; 
    position: relative; 
    overflow: hidden;

}
.box-banner2 img{
    width: 100%; 
    transition: .3s;

}
.box-banner2 img:hover{
    transform: scale(1.2);
}
.box-banner2 h2{
    top:30%;
    left: 30%;
    color: white;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
}
.box-banner2 h1{
    top:45%;
    left: 20%;
    color: white;
    font-size: 60px;
    font-weight: 600;
    position: absolute;
}
.box-banner2 h3{
    bottom:30%;
    left: 33%;
    color: white;
    font-size: 16px;
    position: absolute;

}
.box-banner2 a{
    text-decoration:none; 
    color:white
    
}
.box-banner2 a:hover{

    text-decoration:underline;
}

/* our blog */
#blog{
    width:100%;
    height:739px;
    background-color: white;
    padding-top: 50px;
}
#blog img{
    transition: 1s;
    width: 100%;
}
#blog img:hover{
    transform: scale(1.2);
}
#blog a{
    text-decoration:none;
    color:black;
    font-size: 16px;
    transition: .4s;
    font-weight: 500;
}
#blog a:hover{
    color:red;
}

.box-blog{
    background: #4bee00;
    margin:15px;
    height:276px;
    width: 370px; 
    position: relative; 
    overflow: hidden;
}
.box-blogtext{
    margin:15px;
    height:276px;
    width: 370px;
    color: #888888;
    font-size: 13px;
}
.h1-blog{
    text-align: center;
font-size: 30px;
font-weight: 600;
padding-bottom: 50px;
}
/* instagram */
#instagranat{
    width: 100%;
    height:469px;

}
#instagranat h1{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 50px;
}
#insta .foto1{
    position: relative;
    width: 20%;
    display: inline-block;
    float: left;
    padding: 0px;
    overflow: hidden;
}

#insta .foto1 img{
position: relative;
width: 100%;
height: 100%;
z-index: 2;


}
.overlayy{
    position: absolute;
    opacity:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 5;  
    transition:.8s;

}
.overlayy:hover{
    
    opacity:1; 
}
.overlayy p{
    transition: .8s;
    position:absolute;
    left: 20px;
    bottom:-100px;
    color: #cac5c5;
   
  
}
.overlayy:hover p{
bottom: 60px;
font-size: 16px;
}
.overlayy i{
    transition: .8s;
    position:absolute;
    left:-20px;
    top:15px;
    color: #cac5c5;
    font-size: 0px;
  
}
.overlayy:hover i{
    left: 20px;
    top: 15px;
    font-size: 20px;
    }

/* shipping */
#ship{
    width:100%;
    height: 130px;
    background: rgb(255, 255, 255);
}
#ship :nth-child(1){
    border-left-color:white;
}
.box-ship{
    height:80px;
    width:calc(100%/3*1 - 25px);
    border-left: 2px solid;
    border-color:  #F0F0F0;
    line-height: 35px;
    text-align: center;
}

.box-ship h3{
    font-size: 18px;
    font-weight: 27;
    color:#555555;
    
}
.box-ship p{
    font-size: 13px;
color: #333333;

}
.box-ship a{
    text-decoration: none;
    font-size: 13px;
    transition: 0.8s;
    
    color: #333333;
}
.box-ship a:hover{
    color: red;
}
/* footer */
#footers{
    padding-top: 70px;
    width: 100%;
    height: 350px;
    background-color:#F0F0F0;
}
.box-footer{
    height: 200px;
display: inline-block;
}
.box-footer h3{
    padding-bottom: 30px; 
    font-size: 15px;
    line-height: 23px;
    font-weight:500;
    color: #222222;
}
.box-footer p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #555555;
}
.box-footer  a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #555555;
    transition:.6s;
}

.box-footer a:hover{
    color: red;
}
.box-footer:first-child ul li{
    padding-top:30px;
    display: inline-block;
    padding-right: 15px;
}
.foot-social i{
    font-size:20px; 
}
.foot-social a{
    color:#888888;
    transition: .8s;
}
.foot-social a:hover{
    color: red;
    cursor: pointer;
}
.box-footer input{
    width: 300px;
    height: 28px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color:#F0F0F0;
    border-bottom:1px solid;
    border-color: #88888863;
    transition: 2s;
}
.box-footer input:hover{
    border-color:red;
}

.box-footer input::placeholder{
    color:#888888;

}
.subscribe {
    margin-top:30px;
width: 179px;
height:46px;
color: #fff4f4;
border-style: none;
background-color: rgb(0, 0, 0);
border-radius: 23px;
transition: .8s;
}
.subscribe:hover{
    cursor: pointer;
    background-color:#E55540;
}


.color12{
height:200px;
margin: 0;
}
.box-footerend{
    padding-top: 60px;
    color: #888888;
    width: 100%;
    height:50px;
    text-align: center;
}
.box-footerend span{
    font-size: 13px;
}
.foot-end-card li{
    display: inline-block;
    font-size: 25px;
}
.foot-end-card{
    padding-bottom: 23px;
}